:root {
    --background-color: #F5F5F5;
    --foreground-color: #121212;
    --foreground-secondary-color: #505050;
    --shadow-color: #12121288;
    --subtle-border-color: #F5F5F5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --foreground-color: #E1E1E1;
        --foreground-secondary-color: #909090;
        --shadow-color: #000000FF;
        --subtle-border-color: #303030;
    }
    img {
        filter: brightness(.9);
    }
}

body {
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 0;
    background-color: var(--background-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    color: var(--foreground-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.headshot {
    height: 100%;
    width: 100%;
    border-radius: 999px;
}

.headshot-container {
    height: 200px;
    width: 200px;
    border-radius: 999px;
    background-color: var(--subtle-border-color);
    border: 12px solid var(--subtle-border-color);
    box-shadow: 0px 0px 50px var(--shadow-color);
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    column-gap: 100px;
}

@media (max-width: 768px) { 
    .links {
        flex-direction: column;
        row-gap: 20px; 
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: auto;
}

li + li {
    margin-top: .75em;
}

a {
    color: var(--foreground-secondary-color);
    text-decoration: none;
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 0px;
    background-color: var(--foreground-secondary-color);
    bottom: -.25em;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .25s ease-in-out;
  }
  
 a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

i {
    margin-right: .5em;
}

.footer {
    color: var(--foreground-secondary-color);
    position: fixed;
    bottom: 0px;
    padding: .75em;
    font-size: .75rem;
    background-color: var(--background-color);
    box-shadow: 0px -20px 20px var(--background-color);
}
